@import "tailwindcss";

:root{

    --primary:#C1121F;

    --danger:#780000;

    --background:#FDF0D5;

    --dark:#003049;

    --accent:#669BBC;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:
        "Proxima Nova",
        Inter,
        sans-serif;

}

body{

    background:var(--background);

    color:var(--dark);

}