@import "tailwindcss";

@theme {

    --color-primary-dark: #5D001E;
    --color-primary: #9A1750;
    --color-accent: #EE4C7C;
    --color-background: #E3E2DF;
    --color-secondary: #E3AFBC;

    --font-sans: "Proxima Nova", Inter, sans-serif;
}

body{
    @apply bg-background text-primary-dark font-sans;
}