@import "tailwindcss";

:root{
    --primary-dark:#5D001E;
    --primary:#9A1750;
    --accent:#EE4C7C;
    --background:#E3E2DF;
    --secondary:#E3AFBC;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Proxima Nova",Inter,sans-serif;
}

body{
    background:var(--background);
    color:var(--primary-dark);
}

/* COLORS */

.bg-primary{
    background:var(--primary);
}

.bg-primary-dark{
    background:var(--primary-dark);
}

.bg-background{
    background:var(--background);
}

.bg-secondary{
    background:var(--secondary);
}

.bg-accent{
    background:var(--accent);
}

.text-primary{
    color:var(--primary);
}

.text-primary-dark{
    color:var(--primary-dark);
}

.text-secondary{
    color:var(--secondary);
}

.text-accent{
    color:var(--accent);
}

.border-primary{
    border-color:var(--primary);
}

.border-secondary{
    border-color:var(--secondary);
}

.hover-primary:hover{
    background:var(--primary-dark);
}